# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=1990783001:AAEtUCoDCyEXOdDwLZrNFEz-70TTKYinITs

# LLM / ChatGPT / OpenRouter Configuration
LLM_API_URL=https://openrouter.ai/api/v1/chat/completions
LLM_API_KEY="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"
LLM_MODEL=tngtech/deepseek-r1t2-chimera:free
